<div class="container">
  <div class="col-md-12">
      <div class="col-sm-4 offset-sm-4 text-center"><br>
          <app-search-form (emitresult)='onClickGetRepos($event)'></app-search-form>
  </div>
</div>
</div>
<hr>
<br>

<div class ="info" *ngFor = "let gitrepo of repos">
  <div class="card">
      <div class="card-header">
          <p  class ='repo'>Repository Name: <a href="{{gitrepo.html_url}}">{{gitrepo.name}}</a></p>
      </div>    
      <div class="card-body" >  
          <p>Description: {{gitrepo.description}}</p>
      </div>
  </div>
</div>    